# entorno virtual
venv/
.venv

# variables de entorno (secretos)
.env

# logs
logs/
*.log

# cache de python
__pycache__/
*.pyc

# Datos del pipeline 
data/

# Cache de pruebas
.pytest_cache/
pytest.ini
